.modal {
  width: 60%;
  height: 80%;
  border: 1px solid #c9c9c9;
  border-radius: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  background-color: #fff;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.apply button {
  padding: 10px 5.5em;
  background-color: transparent;
  border: 1px solid #c9c9c9;
  text-transform: uppercase;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.apply button:hover {
  background-color: #c9c9c9;
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.color,
.size,
.sortOp {
  width: 100%;
}

.sortOp {
  padding: 0 30px;
}

@media all and (max-width: 870px) {
  .modal {
    height: 95%;
  }
}

@media all and (max-width: 742px) {
  .modal {
    height: 100%;
  }
}

@media all and (max-width: 630px) {
  .modal {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}
