.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 5;
}

.logo {
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
}

.actions button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.cartButton {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
}

.badge {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: rgb(88, 86, 86);
  color: white;
  border-radius: 50%;
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
}

@media all and (max-width: 620px) {
  .navbar {
    flex-wrap: wrap;
  }
  .search {
    order: 3;
  }
}

@media all and (max-width: 520px) {
  .search {
    width: 100%;
  }
}
