.sidebar {
  min-width: 264px;
  border: 1px solid #cfcfe4;
  border-radius: 18px;
  padding: 12px;
}
.tag {
  font-size: 16px;
  padding: 12px;
  border-radius: 12px;
  cursor: pointer;
}
.active {
  background-color: #515352;
  color: #fff;
}

@media all and (max-width: 800px) {
  .sidebar {
    min-width: 240px;
  }
}

@media all and (max-width: 730px) {
  .sidebar {
    min-width: 220px;
  }
}

@media all and (max-width: 690px) {
  .sidebar {
    width: 100%;
    text-align: center;
  }
}
