.card {
  width: 100%;
  border: 1px solid #cfcfe4;
  border-radius: 18px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  cursor: pointer;
}

.image {
  width: 100%;
  height: 162px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.image img {
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
}

.title {
  padding: 12px 18px;
  background-color: #fff;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title p {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.card button {
  background-color: transparent;
  border: none;
  padding: 10px 0;
  border-top: 1px solid #cfcfe4;
  cursor: pointer;
  transition: all 0.3s ease;
}

.card button:hover {
  background-color: #c9c9cf;
}
